@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.gog-container {
  background-color: #d9d9d9;
  font-family: "Lato", sans-serif;
}
.navbar {
  background-color: #2c2c2c;
}
.nav-link {
  color: #d9d9d9;
  font-weight: 400;
}
.nav-link:hover {
  color: #723c8d;
}
.navbar-brand img {
  background-color: transparent;
}
.bi {
  color: #d9d9d9;
}
.bi:hover {
  color: #723c8d;
}
#highlight-section .bi {
  color: #2c2c2c;
}
.carousel-btn {
  background-color: #679b2c;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.card-body {
  background-color: #d9d9d9;
}
.card-body p {
  font-size: small;
}
.card-holder {
  -webkit-box-shadow: 2px 2px 15px -3px #000000;
  box-shadow: 2px 2px 15px -3px #000000;
}
.cd-body .bi {
  color: #3b3737;
  font-weight: 100;
}
.span-class {
  background-color: #723c8d;
  color: #d9d9d9;
  font-weight: 100;
  border-radius: 2px;
  padding: 2px;
}

.slash-price {
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.galaxy span {
  color: #9e14e4;
}
.first-part p {
  line-height: normal;
  font-size: small;
}
.first-part span {
  color: #9e14e4;
}
.galaxy .bi {
  color: #9e14e4;
  font-size: 400;
}
.galaxy::before {
  content: "|";
  color: #9e14e4;
  padding-right: 30px;
}
#whatsGood-section .bi {
  color: #2c2c2c;
}
.on-sale ul li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
}
.on-sale ul li a {
  text-decoration: none;
}
.on-sale .bi {
  color: #2c2c2c;
}
.active-sale {
  color: #741ca0;
  font-size: large;
}
#carousel-mid #carouselExampleIndicators li {
  background-color: #6e2f8d;
}
#carousel-mid .carousel-indicators {
  bottom: -30px;
}
footer {
  background-color: #262626;
}
.footer-nav {
  color: #d9d9d9;
}
.footer-nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer-nav li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
  width: auto;
  margin-right: 0.5px;
  padding-left: 0;
  margin-left: 0;
  font-weight: 400;
  font-size: 14px;
}
.footer-nav li:last-child {
  margin-right: 0;
  padding-right: 0;
}
footer .bi {
  padding-right: 10px;
}
.footer-p {
  display: inline-block;
  color: #d9d9d9;
  position: relative;
  left: 2px;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 18px; */
}
.footer-p a {
  text-decoration: none;
  padding-right: 10px;
  color: #cf7fbe;
  font-weight: 400;
  font-size: 12px;
}
.footer-p2 {
  position: absolute;
  top: 12px;
  left: 0;
}
.footer-btn {
  background-color: #5e2075;
  color: #d9d9d9;
  border: none;
  height: 48px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  justify-content: center;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 73%), inset 0 0 3px 1px #a268bd;
  white-space: nowrap;
  padding: 0 16px 0 36px;
  transition: 0.2s;
}
.footer-second-part {
  background-color: #2f2f2f;
}
.text-copy-class {
  color: rgba(255, 255, 255, 0.43);
  font-weight: 400;
  font-size: 12px;
}
